Package: sstp-client
Version: 1.0.8
Architecture: i386
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 133
Depends: libc6 (>= 2.7), libevent-2.0-5 (>= 2.0.16-stable), libssl1.0.0 (>= 1.0.0), libsstp-client0 (= 1.0.8), ppp (>= 2.4.5), adduser
Recommends: network-manager-sstp | network-manager-sstp-gnome
Section: net
Priority: optional
Homepage: http://sstp-client.sourceforge.net
Description: Connect to a Microsoft Windows 2008 server using SSTP VPN
 A client implementation of Secure Socket Tunneling Protocol (SSTP) for
 Linux / Mac OS-X that allows remote access via SSTP VPN to Microsoft
 Windows 2008 Server. It does so by tunneling PPP data over SSL.
